{% extends 'base.html' %}
{% load static %}

{% block title %}
О странице
{% endblock %}

{% block links %}
	<link href="{% static 'css/about.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="cont container">
		<div class="item">
			<h1 class="card-title text-center">О сайте</h1>
		</div>
		<div class="item text-container text-center">
			<p class="lh-lg fs-5">Наш сайт — это место, где вы можете свободно творить и записывать
				свои мысли, идеи и заметки. Мы создали этот ресурс, чтобы предоставить вам инструмент для удобного
				и организованного создания заметок.
				Наши функции разработаны для того, чтобы вы могли:
				<br>
				<br>
				Создавать заметки легко и быстро:
				Интуитивно понятный интерфейс поможет вам создавать новые заметки всего в несколько кликов.
				Организовывать заметки: Вы сможете группировать заметки по категориям, тегам или другим
				параметрам, делая управление и поиском более удобными.
				<br>
				<br>
				Изменять и управлять контентом: Редактирование, добавление или удаление заметок — все это легко
				осуществимо через наш сайт.
				<br>
				Безопасность и конфиденциальность: Мы придаем большое значение безопасности данных, поэтому ваши
				записи будут храниться защищено и конфиденциально.
				Мы стремимся создать простую, но эффективную платформу для ваших творческих мыслей. Надеемся,
				что наш сайт станет вашим надежным помощником в организации и сохранении ваших идей!</p>
		</div>
	</div>

{% endblock %}