<div class="group-card">
	<div class="count_notes">
		<h5>Заметок: {{ notes|length }}</h5>
		<hr>
	</div>
	<div class="cards">
		{% for note in notes %}
			<div class="card shadow" onclick="window.location.href='{% url "show-note" note.uuid %}'"
				 style='cursor: pointer;'>
				<div class="item-title">
					<p><b>{{ note.title | truncatechars:50 }}</b></p>
				</div>
				<hr>
				<div class="item-content">
					<p>{{ note.content |truncatechars:70 }}</p>
				</div>
				<hr>
				<div class="item-created_at">
					<p class="text-muted"> Создано: {{ note.created_at }}</p>
				</div>

			</div>
		{% endfor %}



		<div class="card shadow card_add" onclick="window.location.href='{% url "create-note" %}'"
			 style='cursor: pointer;'>
			<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor"
				 class="bi bi-plus-square"
				 viewBox="0 0 16 16">
				<path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
				<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
			</svg>
		</div>
	</div>

</div>

</div>