{% load static %}
<div class="row flex-lg-row-reverse align-items-center g-5 pt-5">
	<div class="text-center">
		<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Note writing service</h1>
	</div>
	<div class="block-img-text">
		<div class="flex-container">
			<img src="{% static 'images/main_img.png' %}"
				 class="d-block mx-lg-auto img-fluid rounded-3" alt="img note" width="400" height="300"
				 loading="lazy">
		</div>
		<div class="col-lg-6">
			<div>
				<p class="lead fs-1">
					We are happy to welcome you here and help you organize your life with handy notes.
					Here you can jot down ideas, complete tasks, save important notes, and much more.
				</p>
			</div>

		</div>
	</div>
</div>

